html {
  font-size: 18px;
  line-height: 1.4;
}

body {
  font-family: Helvetica;
}

.container {
  width: 960px;
  margin: 0 auto;
}

header {
  background-image: url("../images/glasses-bg.png");
  background-size: cover;
  height: 30rem;
  padding-top: 1rem;
}

nav {
  background-color: cadetblue;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav div {
  display: flex;
  align-items: center;
}

nav img {
  margin: auto 1rem auto 2rem;
  height: 1.5rem;
}

nav .menu ul {
  display: flex;
}

nav .menu ul li {
  margin: 1rem 2rem 1rem 0;
}

nav ul.truncated-menu {
  display: none;
}

.banner-end {
  margin-top: 10rem;
  display: flex;
  justify-content: flex-end;
}

.banner {
  background-color: white;
  padding: 1.5rem 5rem;
  margin-right: -2rem;
}

.banner h1{
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
}

.services {
  display: flex;
  justify-content: center;
}

#paper-img {
  width: 3.5rem;
}


.service {
  display: flex;
  flex-direction: column;
  height: 8rem;
  width: 5rem;
  align-items: center;
  justify-content: space-between;
  /*background-color: blue;*/
  margin: 3rem;
}

.service img {
  width: 100%;
  display: block;
}

.service span {
  text-align: center;
}

.infos {
  display: flex;
  justify-content: center;
}

.info {
  margin: 3rem 2.5% 5rem 2.5%;
  width: 35%;

}

.info h3 {
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: cadetblue;
  margin-bottom: 1rem;
  padding: 0.5rem 1.25rem;
  width: 10rem;
}

footer {
  /*background-color: azure;*/
  background-color: azure;
  height: 100%;
}

.copyright {
  display: flex;
  align-items: center;
}

.copyright img {
  height: 1.5rem;
  margin: 4rem 1rem 4rem 4rem;
}

@media only screen and (max-width:1024px) and (min-width:700px) {
  header {
    padding-top: 0;
    height: 22rem;
  }
  .container {
    width: auto;
  }
  .banner-end {
    margin: 0;
  }
  .banner {
    margin: 5rem 2rem 0 0;
    padding: 0.75rem 4rem;
  }
  .banner h1 {
    font-size: 1.33rem;
  }
}

@media only screen and (max-width:700px) {
  .container {
    width: auto;
  }
  header {
    padding-top: 0;
    height: 17rem;
  }
  header .container {
    width: 100%;
  }
  header span {
    display: none;
  }
  .menu ul.main-menu{
    display: none;
  }
  .menu ul.truncated-menu {
      display: block;
  }
  .banner-end {
    margin:0;
    display: block;
  }
  .banner {
    margin-top: 9rem;
    text-align: center;
    padding: 1rem 0;
  }
  .banner h1 {
    font-size: 1rem;
  }
  .services {
    margin: 3.77rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .service {
    margin-bottom: 1.54rem;
    height: auto;
  }
  .service img {
    margin-bottom: 1rem;
  }
  .infos {
    display: flex;
    flex-direction: column;
  }
  .info {
    width: 100%;
    margin:0 0 4rem 0;
  }
  .info h3 {
    text-align: center;
    width: 100%;
  }
  footer p {
    display: none;
  }
  .copyright img{
    margin: 4rem auto;
  }
}
